*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* banner */
body{
    font-family: "Merriweather", serif;
}
.section-1{
max-width: 1320px ;
max-height: 600px;
background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);
background-position: center;
background-size: cover;
margin: 0 auto;
background-repeat: no-repeat;
padding: 16px;
margin-top: 50px;
}
.banner-content{
    color: white;
    text-align: center;
    padding: 177px 344px;
}
p{
    font-size: 32px;
    font-weight: 400;
}
h1{
    font-size: 72px;
    font-weight: 900;
}
/* 65%section */
.section-2{
    width:803px ;
height:806px;

margin: 0 auto;
margin-top:120px;
}
.section-heading{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
}
.subheading{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
}
.section-description
{
    color: rgb(7, 2, 17);
    font-size:48px;
    font-weight: 700;
}
.off{
    text-align: center;
}
.img-happy-new
{
    width: 803px;
    height: 500px;
    margin-top: 120px;
}
/* mid-night-section */
.midnight-section{
    max-width: 1320px;
    height: 600px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top:120px ;
    border-radius: 16px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midnight-heading{
    color:rgb(255, 255, 255) ;
    font-size: 64px;
    font-weight: 900;
}
.midnight-description{
    color: rgba(255, 255, 255, 0.8);
    font-family: inter;
    font-weight: 400;
    font-size: 18px;
}
.midnight-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right:497px: ;
     

}
.midnight-img{
display: flex;
align-items: center;
justify-content: center;

}
.midnight-button{
    background: transparent;
    color: white;
    font-size:20px;
    font-weight:700 ;
}