*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* banner */
body{
    font-family: "Merriweather", serif;
}
.section-1{
max-width: 1320px ;
max-height: 600px;
background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);
background-position: center;
background-size: cover;
margin: 0 auto;
background-repeat: no-repeat;
padding: 16px;
margin-top: 50px;
}
.banner-content{
    color: white;
    text-align: center;
    padding: 177px 344px;
}
p{
    font-size: 32px;
    font-weight: 400;
}
h1{
    font-size: 72px;
    font-weight: 900;
}
/* 65%section */
.section-2{
    width:803px ;
height:806px;

margin: 0 auto;
margin-top:120px;
}
.section-heading{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
}
.subheading{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
}
.section-description
{
    color: rgb(7, 2, 17);
    font-size:48px;
    font-weight: 700;
}
.off{
    text-align: center;
}
.img-happy-new
{
    width: 803px;
    height: 500px;
    margin-top: 120px;
}
/* mid-night-section */
.midnight-section{
    max-width: 1320px;
    height: 600px;
   
    margin: 0 auto;
    margin-top:120px ;
    border-radius: 16px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midnight-heading{
    color:rgb(255, 255, 255) ;
    font-size: 64px;
    font-weight: 900;
}
.midnight-description{
    color: rgba(255, 255, 255, 0.8);
    font-family: inter;
    font-weight: 400;
    font-size: 18px;
}
.midnight-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right:497px: ;
     

}
.midnight-img{
display: flex;
align-items: center;
justify-content: center;
}
.midnight-button{
    background: transparent;
    color: white;
    font-size:20px;
    font-weight:700 ;
}
/* venue */
.place{
    max-width: 1320px;
    height: 482px;
    
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);;
}
.venue-details{
    font-family: inter;
    font-size: 32px;
    font-weight: 600;
}
span{
    color: rgb(255, 0, 0);
}
.venue{
    text-align: center;
    padding: 105px 385px;
}
.place-btn{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}
/* ccoomig soon */
.comming-soon{
    max-width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div-description{
   width: 33%;
}
.sub-header{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;

}
.comming-header{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.comming-description{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.group{
    height: 364px;
    width: 364px;
    box-sizing:content-box;
border: 10px solid rgb(255, 0, 0);
border-radius: 200px;
padding:12px;
}
.year{
    Font: Inter;
Font-weight: 700;
Font-size: 48px;
color: rgb(255, 0, 0);
}
.newyear{
    width: 140px;
    height: 140px;
    position: absolute;
}
/* holiday */
.holiday-container{
max-width: 1320px;
height: 968px;
margin: 0 auto;
margin-top:90px ;
position: relative;
}
.holiday-text-container
{
    text-align: center;
   
}
.holiday-sub{
    Font: Inter;
Font-weight: 500;
Font-size: 24px;
color: rgb(7, 2, 17);
}
.holiday-heading{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
rgb(7, 2, 17)
}
.holiday-description{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
}
.solid-color{
    width: 1320px;
height: 229px;
 border-radius: 16px 0px 16px 16px;
background: rgb(255, 0, 0);
position: absolute;
top: 76.5%;
}
.giftbox{
    width: 674.82px;
height: 577.96px;
position:relative;
top: 15%;
}
.discount{
    position: absolute;
width: 305.69px;
height: 305.69px;
left:65% ;
top: 40%;
}
/* awesome portfolio */
.awesom-portfolio
{
    max-width: 1320px;
height: 1163px;
margin: 0 auto;
margin-top: 120px;
}
.portfolio-text-container{
    text-align: left;
}
.portfolio-subheading{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.portfolio-heading{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.portfolio-description{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.item{
    width: 424px;
height: 450px;
}
.item img{
    height: 100%;
    width: 100%;
} 
.portfolio-img{
    margin-top:48px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}